body {
  margin: auto;
  width: 100%;
  font-family: 'Poppins';
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header
{
  margin: auto;
  padding: 1em 2em;
  background-image: linear-gradient(to right, #c3e0ff, #afffd8);
  height: 100px;
  border-radius: 0px 0px 100px 0;
  color:black;
}
header h1
{
  font-size: 26px;
}
h1
{
  color:black;
}
span
{
  color: blue;
}
p
{
  font-size: 20px;
}
.activities-section
{
  background-color: white;
  padding: 2em;
}
h2
{
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 2px;
}

button:active
{
  transform: scale(.90);
}

.activities-header
{
  display: flex;
  justify-content: space-between; 
}

.activities-wrapper
{
  margin: 1em -1em;
  display:grid;
  grid-auto-flow: column;
  gap:2em;
  overflow-x:scroll;
  scrollbar-width: none;
  padding: 1em 1em;
}
.activities-wrapper::-webkit-scrollbar
{
  display: none;
}


.add-popup
{
  z-index: 2;
  margin-top: 1em;
  margin-left: .55em;
  position: absolute;
  height: 550px;
  width: 390px;
  border-radius: 30px;
  background-color: #F4F4F4;
  box-shadow: 0px 2px 6px rgb(189, 189, 189);
  animation: .25s ease-out 0s 1 scaleIntoView;
}

form
{

  margin: auto;
  margin-top: 5em;
  display: grid;
  justify-content: center;
  gap: 2em;
}


form input
{
  height: 50px;
}
form input,textarea
{
  outline: none !important;
  padding-inline: 1em;
  width: 280px;
  border: none;
  border-radius: 10px;
  float:left;
  font-family: 'Poppins';
  font-weight: 400;
  color:black;
  font-size: 16px;
}
form textarea
{
  padding-top: 1em;
  height:80px;
  resize: none;
}

.btn-round
{
  z-index: 3;
  margin-top: .25em;
  background-color: transparent;
  color: #535353;
  border: 3px solid #535353;
  width: 40px;
  height: 40px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 100%;

}
.create-btn:active
{
  transform: scale(.98);
}

.btn-back
{
  z-index: 3;
  margin-top: .25em;
  background-color: transparent;
  color: white;
  border: 3px solid white;
  width: 40px;
  height: 40px;
  font-size: 20px;
  font-weight: 800;
  border-radius: 100%;
}

.btn-regular
{
  margin: auto;
  margin-top: 2em;
  color: white;
  border: none;
  width: 300px;
  height: 50px;
  border-radius: 20px;
}


form input::placeholder,textarea::placeholder, select
{
  font-family: 'Poppins';
  font-weight: 200;
  font-size: 16px;
}
form textarea
{
  line-height: 28px;
}

form select
{
  border: none;
  padding: 1em;
  border-radius: 20px;
  opacity: 100%;
  font-weight: 400;
}

form input[type=submit]
{
  margin: auto;
  margin-top: 2em;
  width: 100%;
  color: white;
}
form input[type="submit"]:active
{
  transform: scale(.98);
}

.popup-background
{
  position:absolute;
  opacity: 50%;
  top: 0;
  width: 100%;
  height: 1000px;
  background-color: black;
}


@keyframes scaleOutView
{
  0%
  {
    transform:scale(1);
  }
  100%
  {
    transform: scale(0);
  }
}

@keyframes scaleIntoView
{
  0%
  {
    transform:scale(0);
  }
  100%
  {
    transform: scale(1);
  }
}

@keyframes flip
{
  0%
  {
    transform: rotateY(0deg);
  }
  100%
  {
    transform: rotateY(180deg);
  }
}