body {
  margin: auto;
  font-family: 'Poppins';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header
{
  margin: auto;
  padding: 1em 2em;
  background-color: #282828;
  height: 150px;
  color:white;
}
header h1
{
  font-size: 36px;
}
span
{
  color: rgb(41, 180, 226);
}
p
{
  font-size: 26px;
}


.activities-section
{
  background-color: white;
  padding: 2em;
}

h2
{
  font-size: 26px;
  font-weight: 800;
  letter-spacing: 2px;
}

button:active
{
  transform: scale(.90);
}

.activities-header
{
  display: flex;
  justify-content: space-between;
}

.activities-wrapper
{
  margin: 1em -1em;
  display:grid;
  grid-auto-flow: column;
  gap:2em;
  overflow-x:scroll;
  scrollbar-width: none;
  padding: 1em 1em;
}
.activities-wrapper::-webkit-scrollbar
{
  display: none;
}

.activity
{
  margin: auto;
  text-align: center;
  background-color: #F0F0F0;
  border-radius: 25%;
  width: 250px;
  height: 250px;
  box-shadow: 0px 2px 6px rgb(189, 189, 189);
  animation: 1s ease-out 0s 1 scaleIntoView;
  /* border: solid 10px blue; */
}

.activity-content
{
  padding: 0em 0em;
  font-size: 20px;
}

.activity-content h3
{
  text-transform: uppercase;
}

.days-container
{
  padding-left: 2em;
}

hr
{
  height: 10px;
  border: none;
  margin-left: 0;
  animation: 2s ease-out 0s 1 barAnim;
}


.add-popup
{
  z-index: 2;
  margin-top: 1em;
  margin-left: .55em;
  position: absolute;
  height: 600px;
  width: 390px;
  border-radius: 30px;
  background-color: #F4F4F4;
  box-shadow: 0px 2px 6px rgb(189, 189, 189);
}

form
{
  font-size: 20px;
  margin: auto;
  margin-top: 4em;
  display: grid;
  gap: 20px;
  justify-content: center;
}

form input,textarea
{
  padding: 1em;
  width: 306px;
  border: none;
  border-radius: 20px;
  float:left;
  font-family: 'Poppins';
  font-weight: 400;
  color:#2700FF;
  font-size: 20px;
}
form textarea
{
  height:80px;
  resize: none;
}

.btn-round
{
  z-index: 3;
  margin-top: .25em;
  background-color: white;
  color: #535353;
  border: 5px solid #535353;
  width: 50px;
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 100%;

}
.create-btn:active
{
  transform: scale(.98);
}


form input::placeholder,textarea::placeholder, select
{
  font-family: 'Poppins';
  font-weight: 200;
  font-size: 20px;
}

form select
{
  border: none;
  padding: 1em;
  border-radius: 20px;
  opacity: 100%;
  font-weight: 400;
}

form input[type=submit]
{
  margin: auto;
  margin-top: 2em;
  width: 100%;
  color: white;
}

.popup-background
{
  position:absolute;
  opacity: 50%;
  top: 0;
  width: 100%;
  height: 1000px;
  background-color: black;
}


@keyframes barAnim
{
  0%
  {
      transform: scaleX(0);
  }
  100%
  {
      transform: scaleX(1);
  }
}

@keyframes scaleIntoView
{
  0%
  {
      transform:scale(0);
  }
  100%
  {
      transform: scale(1);
  }
}