body {
  font-family: 'Poppins';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header
{
  padding: 1em 2em;
  background-color: #282828;
  height: 280px;
  color:white;
}
header h1
{
  font-size: 80px;
}
span
{
  color: rgb(41, 180, 226);
}
p
{
  font-size: 50px;
}


.activities-section
{
  background-color: white;
  padding: 2em;
}

h2
{
  font-size: 48px;
}

button:active
{
  transform: scale(.90);
}

.btn-round
{
  z-index: 5;
  margin-top: .75em;
  background-color: rgb(56, 56, 56);
  font-size: 15px;
  width:120px;
  height:120px;
  border-radius: 100%;
}

.activities-header
{
  display: flex;
  justify-content: space-between;
}

.activities-wrapper
{
  margin-top: 1em;
  display:grid;
  grid-auto-flow: column;
  gap:2em;
  overflow-x:scroll;
  scrollbar-width: none;
  padding: 1em 0;
  padding-right: 2em;
}
.activities-wrapper::-webkit-scrollbar
{
  display: none;
}

.activity
{
  margin: auto;
  text-align: center;
  background-color: #F0F0F0;
  border-radius: 25%;
  width: 400px;
  height: 400px;
  box-shadow: 0px 2px 6px rgb(189, 189, 189);
}

.activity-content
{
  padding: 0em 0em;
  font-size: 36px;
}
.activity-content h3
{
  text-transform: uppercase;
}

.days-container
{
  padding-left: 2em;
}
hr
{
  height: 10px;
  border: none;
  margin-left: 0;
}

.add-popup
{
  top:0;
  margin-left: 2em;
  margin-top: 13em;
  position: absolute;
  height: 450px;
  width: 370px;
  border-radius: 10%;
  background-color: #F4F4F4;
  box-shadow: 0px 2px 6px rgb(189, 189, 189);
}

form
{
  margin-top: 5em;
  display: grid;
  gap: 20px;
  justify-content: center;
}

form input,textarea
{
  padding: 1em;
  width: 306px;
  border: none;
  border-radius: 20px;
  float:left;
  font-family: 'Poppins';
  font-weight: lighter;
  color:black;
  font-size: 15px;
}
form textarea
{
  height:80px;
  resize: none;
}

.btn-round
{
  background-color: white;
  color: #282828;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 10px solid #282828;
  font-weight: bold;
  font-size: 80px;

}
.create-btn:active
{
  transform: scale(.98);
}


form input::placeholder,textarea::placeholder
{
  font-family: 'Poppins';
  font-weight: lighter;
  color:black;
  opacity: 48%;
  font-size: 15px;
}